* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 96%);
  font-size: 15px;
  min-height: 100vh;
  font-family: "Poppins", sans-serif;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --organge: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

header {
  text-align: center;
  padding: 80px 32px 48px;
  color: var(--grey500);
}
header h1 {
  font-weight: 600;
  font-size: 36px;
  line-height: 1.4;
}
header h1 span {
  font-weight: 200;
}
header p {
  padding-top: 24px;
  line-height: 1.6;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
}

.card {
  width: 100%;
  max-width: 350px;
  padding: 32px;
  height: auto;
  border-radius: 6px;
  background-color: var(--white);
  box-shadow: 0 15px 30px -11px rgba(131, 166, 210, 0.5);
}

.card-supervisor {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  border-top: var(--cyan) 4px solid;
}

.card-team-builder {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
  border-top: var(--red) 4px solid;
}

.card-karma {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
  border-top: var(--organge) 4px solid;
}

.card-calculator {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  border-top: var(--blue) 4px solid;
}

.card-text h2 {
  padding: 0px 12px;
}
.card-text p {
  padding: 8px 12px 30px 12px;
  color: var(--grey400);
}

.img-card {
  display: flex;
  justify-content: end;
  padding-bottom: 24px;
}

.img-card img {
  width: 64px;
  height: 64px;
}
