* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 96%);
  font-size: 15px;
  min-height: 100vh;
}

:root {
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --organge: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --grey500: hsl(234, 12%, 34%);
  --grey400: hsl(212, 6%, 44%);
  --white: hsl(0, 0%, 100%);
}

header {
  text-align: center;
  padding: 48px;
}

.container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
  max-width: 1200px;
  margin: 0 auto;
  padding: 40px 20px;
  align-items: center;
}

.card-supervisor {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  /* align-self: center; */
}

.card-team-builder {
  grid-column: 2 / 3;
  grid-row: 1 / 2;
}

.card-karma {
  grid-column: 2 / 3;
  grid-row: 2 / 3;
}

.card-calculator {
  grid-column: 3 / 4;
  grid-row: 1 / 3;
  /* align-self: center; */
}

.card {
  width: 100%;
  max-width: 350px;
  /* justify-self: center; */
  height: auto;
  border: 1px solid black;
}

.img-card img {
  width: 64px;
  height: 64px;
}
